.h1tag {
    font-size: medium;
    padding: 50px;
    text-align: center;
    font-weight: bolder;
    color: blueviolet;
}

.imgages{
    justify-content: center;
    width: 250px;
    height: 300px;
    padding-left:90px ;
}